
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.col-center { float:none; margin:0 auto; }
span.label { color:Black; font-weight:bold; }
span.text-error { color:red; font-weight:bold; }
span.online { color:green; font-weight:bold; }

.player-dashboard { padding:1em; }